<p id="notice"><%= notice %></p>

<p>
  <b>Seller:</b>
  <%= @incomming_order.seller_id %>
</p>


<%= link_to 'Edit', edit_incomming_order_path(@incomming_order) %> |
<%= link_to 'Back', incomming_orders_path %>
